/.history
/.history/*
/.idea/phpunit.xml
/.idea
/.idea/*
/.idea/phpunit.xml`
/storage
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache




./config/config.php
./config/configTest.php

.env
dist/*
/images
/images/*
/nbproject/private/

docker-compose.yml
.vscode/launch.json